.container > div {
  border: 1px solid black;
  padding: 20px;
  margin: 20px 0;
  /* La largeur d'un tag : width (ou flex-basis) + padding + border */
  /* En utilisant box-sizing: border-box : La largeur d'un tag : width ou flex-basis */
  box-sizing: border-box;
}
@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container > div {
    flex-basis: 30%;
  }
}